body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
  }
  
  .form-floating {
    margin-bottom: 1rem;
    border: 2px solid #9cabb9; /* Añade un borde de color azul */
    border-radius: 8px; /* Añade esquinas redondeadas */
    padding: 10px; /* Añade un poco de espacio interno */
    background-color: #83afd8; /* Color de fondo */
}

.form-floating label {
    display: block;
    margin-top: 1px; /* Ajusta la posición del label según el nuevo diseño */
    margin-left: 10px; /* Ajuste de posición adicional */
    background-color: #9cabb9; /* Coincide con el color de fondo del div */
    padding: 0 5px; /* Agrega un poco de espacio interno alrededor del texto del label */
    color: #0f0f0f; /* Color del texto del label */
    z-index: 1; /* Asegura que el label esté sobre el input */
}

.form-floating input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 0; /* Asegura que el input esté detrás del label */
}

  
  .checkbox {
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .text-muted {
    text-align: center;
    margin-top: 5rem;
  }
  