/* Reset CSS (using Normalize.css) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #495057;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-floating {
  margin-bottom: 1rem;
  border: 2px solid #83afd8;
  border-radius: 8px;
  padding: 10px;
  background-color: #83afd8;
}

.form-floating label {
  display: block;
  margin-top: 1px;
  margin-left: 10px;
  background-color: #83afd8;
  padding: 0 5px;
  color: #0f0f0f;
  z-index: 1;
}

.form-floating input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 0;
}

.form-container {
  border: 1px solid #ced4da;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.checkbox {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.text-muted {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 50px; /* Keep one margin-top property for consistency */
}
